---
---

@import "{{ site.theme }}";

#project_title {
    display: flex;
    align-items: center;
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
  }
  
  #project_title img {
  
    margin-right: 10px; /* Adjust the margin as needed */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }

#main_nav {
    margin-top: 20px;
  }
  
  #main_nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  #main_nav ul li {
    display: inline;
  }
  
  #main_nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  #main_nav ul li a:hover {
    text-decoration: underline;
  }

#footer_wrap .inner p a img {
    margin-right: 10px; /* Adjust the margin as needed */
  }